[submodule "ros-bridge"]
	path = ros-bridge
	url = https://github.com/carla-simulator/ros-bridge.git
[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/carla-simulator/scenario_runner.git
